<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to(managers_articles_path, class: 'navbar-brand text-center') do %>
				PVランキング(管理者)
			<% end %>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample">
			<ul class="nav navbar-nav">
				<li><%= link_to '記事を書く', new_managers_article_path, class: 'text-center' %></li>
				<li><%= link_to 'ユーザーページへ', public_articles_path, class: 'text-center' %></li>
				<% if manager_signed_in? %>
				<li><%= link_to 'ログアウト', destroy_manager_session_path, class: 'text-center' %></li>
				<% else %>
				<li><%= link_to 'ログイン', new_manager_session_path, class: 'text-center' %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
