<h1>Public::Articles#index</h1>
<p>Find me in app/views/public/articles/index.html.erb</p>
<%= render 'layouts/flash_messages' %>
<h1 class="text-center">記事一覧</h1>
<% if @articles.blank? %>
  <h3 class="text-center">まだ記事がありません</h3>
<% else %>

<!--ランキング表示-->
<%= render 'public/partials/pv_ranking' %>

<div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">画像</th>
        <th class="text-center">見出し</th>
        <th class="text-center">内容</th>
        <th class="text-center">更新日</th>
      </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
      <% unless article.published == false %>
      <tr>
        <td class="text-center"></td>
        <td class="text-left"><%= truncate(article.title, length: 10) %></td>
        <td class="text-left"><%= truncate(article.details, length: 10) %></td>
        <td class="text-center"><%= article.updated_at.to_s(:time_short) %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
