<!--
<h1>Managers::Articles#index</h1>
<p>Find me in app/views/managers/articles/index.html.erb</p>
-->
<%= render 'partials/flash_messages' %>
<h1 class="text-center">記事一覧</h1>
<% if @articles.blank? %>
  <h3 class="text-center">まだ記事がありません</h3>
<% else %>

<div class="table-striped table-hover">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center">作成日</th>
        <th class="text-center">画像</th>
        <th class="text-center">見出し</th>
        <th class="text-center">内容</th>
        <th class="text-center">公開日</th>
        <th class="text-center">更新日</th>
        <th class="text-center">公開状態</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= "warning" if article.published == false %>">
        <td class="text-center"><%= article.created_at.to_s(:time_short) %></td>
        <td class="text-center"></td>
        <td class="text-left"><%= article.title %></td>
        <td class="text-left"><%= article.details %></td>
        <td class="text-center"><%= check_published_at(article.published_at) %></td>
        <td class="text-center"><%= article.updated_at.to_s(:time_short) %></td>
        <td class="text-center"><%= article_status(article.published) %></td>
        <td><%= link_to '変更', edit_managers_article_path(article.id), class: 'btn btn-default' %></td>
        <td><%= link_to '削除', managers_article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか?"}, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
