<!DOCTYPE html>
<html>
<head>
  <title>はじめてのRedis</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag() %>
</head>
<body>
  <%= render 'managers/partials/navbar' %>
  <div class="container">
    <p class="text-center">ファイルの場所：<%= controller_path %>/<%= action_name %></p>
    <main id="<%= for_css %>" class="col-md-12">
      <div id="<%= action_name %>">
        <%= render 'layouts/pv_ranking' %>
        <%= yield %>
      </div>
    </main>
  </div>


</body>
</html>
